.text-border {
  -webkit-text-stroke: 4px #000;
  paint-order: stroke fill;
}

.header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  top: -2px;
  right: -6px;
}
