.text-border {
  -webkit-text-stroke: 3px #080c3d;
  paint-order: stroke fill;
}

.text-icon {
  color: #080c3d;
  /* -webkit-text-stroke: 1px rgb(155, 130, 61); */
  paint-order: stroke fill;
}

.header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  top: -2px;
  right: -6px;
}
